@import "tailwindcss";

@theme{
    --animate-appear: appear 0.1s ease-in-out forwards;

    @keyframes appear {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
}

html {
    scroll-behavior: smooth;
}